.add-contact-btn {
    -fx-background-color: #444;
    -fx-border: none;
    -fx-color: white;
    /*-fx-padding: 15px 32px;*/
    -fx-text-align: center;
    -fx-text-decoration: none;
    /*-fx-display: inline-block;*/
    /*-fx-margin: 4px 2px;*/
    -fx-cursor: pointer;
}