.nav-button {
    -fx-border: none;
    -fx-background-color: transparent;
    -fx-padding: 15px 38px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    /*display: inline-block;*/
    /*font-size: 16px;*/
    -fx-cursor: pointer;
}

.btn-pane {
    -fx-background-color: rgba(100,100,100, 0.7);
}

.left-message {
    -fx-background-color: #6ca5c2;
    -fx-background-radius: 40 40 40 0;
}

.right-message {
    -fx-background-color: #89CFF0;
    -fx-background-radius: 40 40 0 40;
}